package tpls

import "strings"

templ LoadArticles(articles []string) {
    <ul>
    for _, article := range articles {
        <li>
            <a href={templ.SafeURL("/articles/"+strings.Split(article, ".")[0])}>{article}</a>
        </li>
    }
    </ul>
}