package tpls

import "strings"

templ LoadArticles(articles []string) {
    for _, article := range articles {
        <a href={templ.SafeURL("/articles/"+strings.Split(article, ".")[0])}>{article}</a>
        <br></br>
    }
}